<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      <h2>Latest Mars News</h2>
      <div class="row" id="listings_data">
      <div class="col-md-12">
        <h4 class="heading">{{mars_html.news_title}} {{mars_html.news_p}}</h4>
        <small>{{mars_html.news_p}}</small>
      <h2>Featured Mars Image</h2> 
    </div>
      <img src="{{ mars_html.feature_img }}"  alt="https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA18182">
      <h3>Mars Facts</h3>
      </div>
    </div>

  </div>
</body>

</html>

